.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: var(--bg-dark);
}

#timer {
  position: absolute;
  height: 100%;
  width: 1rem;
  right: -2rem;
  top: 0;
  background-color: var(--accent-light);
}

#timer > * {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: var(--accent);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.quiz-box {
  position: relative;
  display: flex;
  padding: 2rem;
  margin-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  background-color: var(--bg-primary);
  gap: 1.25rem;
}

.quiz-box__question {
  margin-bottom: 1rem;
}

.quiz-box__answer {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.answer__content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: var(--accent);
}

.answer__content:hover {
  background-color: var(--accent-light);
}

.quiz-box__letter {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accent-light);
}

.quiz-box__letter span {
  font-weight: 700;
  display: inline-block;
  color: var(--text-dark);
}

/* Utilities */

.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--accent);
  font-size: 2em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-light);
}
.rounded-corners {
  border-radius: 0.5rem;
}

.transition {
  transition: all;
}

.t-ease {
  transition-timing-function: ease;
}

.t-linear {
  transition-timing-function: linear;
}

.t-duration-short {
  transition-duration: var(--duration-1);
}

.t-duration-medium {
  transition-duration: var(--duration-2);
}

.t-duration-long {
  transition-duration: var(--duration-3);
}
