#answers {
  gap: 2rem;
  display: grid;
  flex: 0.2 1 auto;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark);
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  height: 100%;
  padding: 2rem;
  margin-bottom: 4rem;
  background-color: var(--bg-primary);
  gap: 1.25rem;
}

.quiz-box__question {
  margin-bottom: 1rem;
}

.quiz-box__answer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: var(--accent);
}

.quiz-box__answer:hover:not(.correct, .wrong) {
  background-color: var(--accent-light);
}

.quiz-box__answer__letter {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accent-light);
}

.quiz-box__answer__letter span {
  font-weight: 700;
  display: inline-block;
  color: var(--text-dark);
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

/* Utilities */

.font-lg {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 1.25rem;
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--accent);
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-light);
}
.rounded-corners {
  border-radius: 0.5rem;
}

.transition {
  transition: all;
}

.t-ease {
  transition-timing-function: ease;
}

.t-linear {
  transition-timing-function: linear;
}

.t-duration-short {
  transition-duration: var(--duration-1);
}

.t-duration-medium {
  transition-duration: var(--duration-2);
}

.t-duration-long {
  transition-duration: var(--duration-3);
}

@media screen and (min-width: 50rem) {
  .app-container {
    display: grid;
    place-items: center;
  }

  .quiz-box {
    height: auto;
    width: 50rem;
    border-radius: 0.5rem;
  }

  #answers {
    gap: 1.25rem;
  }
}
